body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #912BBC; /* Set your desired background color */
  }
  
  section {
    text-align: center;
    background-color:#D875C7;
    width: 700px;
    height: 500px ;
    border-radius: 30%;
     
    -webkit-border-radius: 30%;
    -moz-border-radius: 30%;
    -ms-border-radius: 30%;
    -o-border-radius: 30%;
}
  
  .buttons {
    margin-top: 20px;

  
    grid-template-columns: 2fr ;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
}
  
  button {
    gap: 2.4rem;
    /* font-size: 16px; */
    background-color:white;
    border-radius:10px;
    padding: 10px 30px; /* Adjust button padding as needed */
    margin: 0 10px; /* Adjust button margin as needed */

    &:hover{
        box-shadow: inset 0 0 0 0.2rem #f56762;
        background-color: transparent;
        color: #fff;
    }
  }
  
  #CountDown {
    font-size: 24px; /* Adjust font size as needed */
    font-weight: bold;
    margin-bottom: 20px; /* Adjust spacing as needed */
  }
  
  #countDown{
    font-size: 2.4rem;
  }


  p{
    color: #070007;
    font-size: 1.4rem;
  }

